{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gpts website</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
         ============================================ -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="{% static 'userinterfacedesign/img/favicon.ico ' %}"> -->
    <!-- Google Fonts
         ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- Bootstrap CSS
         ============================================ -->
    <link rel="stylesheet" href="{% static 'userinterfacedesign/css/bootstraps.min.css ' %}">
     <link rel="stylesheet" href="{% static 'userinterfacedesign/css/bootstraps.css ' %}">
    <!-- Bootstrap CSS
         ============================================ -->
    <link rel="stylesheet" href="{% static 'userinterfacedesign/css/font-awesome.min.css ' %}">
    <!-- adminpro icon CSS
         ============================================ -->
    <link rel="stylesheet" href="{% static 'userinterfacedesign/css/adminpro-custon-icon.css ' %}">
    <!-- meanmenu icon CSS
         ============================================ -->
    <link rel="stylesheet" href="{% static 'userinterfacedesign/css/meanmenu.min.css ' %}">
    <!-- animate CSS
         ============================================ -->
    <link rel="stylesheet" href="{% static 'userinterfacedesign/css/animate.css ' %}">
    <!-- mCustomScrollbar CSS
         ============================================ -->
    <link rel="stylesheet" href="{% static 'userinterfacedesign/css/jquery.mCustomScrollbar.min.css ' %}">
    <!-- normalize CSS
         ============================================ -->
    <link rel="stylesheet" href="{% static 'userinterfacedesign/css/normalize.css ' %}">
    <!-- accordions CSS
         ============================================ -->
    <link rel="stylesheet" href="{% static 'userinterfacedesign/css/accordions.css ' %}">
    <!-- tabs CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'userinterfacedesign/css/tabs.css ' %}">
    <!-- style CSS
         ============================================ -->
    <link rel="stylesheet" href="{% static 'userinterfacedesign/style.css ' %}">
    <!-- responsive CSS
         ============================================ -->
    <link rel="stylesheet" href="{% static 'userinterfacedesign/css/responsive.css ' %}">
    <!-- modernizr JS
         ============================================ -->
    <script src="{% static 'userinterfacedesign/js/vendor/modernizr-2.8.3.min.js ' %}"></script>

     	============================================ -->
    <link rel="stylesheet" href="{% static 'userinterfacedesign/css/dropzone.css ' %}">



 
  
    
    <link rel="stylesheet" href="{% static 'userinterfacedesign/css/form.css ' %}">
 
    

</head>