{% extends 'userinterfacedesign/base.html' %}
{% load static %}
{% block content %}

       <!-- Breadcome start-->
            <div class="breadcome-area mg-b-30 des-none">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcome-heading">
                                            <form role="search" class="">
												<input type="text" placeholder="Search..." class="form-control">
												<a href=""><i class="fa fa-search"></i></a>
											</form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <ul class="breadcome-menu">
                                            <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">Dashboard</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcome End-->
            <!-- Multi Upload Start-->
            <div class="multi-uploaded-area mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert-title dropzone-custom-sys shadow-reset nt-mg-b-30">
                                <h2>Drag and Drop file uploads System</h2>
                                <p>Dropzone Drag and Drop file uploads javascript plugins. Users using an old browser will be able to upload files. If you want the whole body to be a Dropzone and display the files somewhere else you can simply instantiate a Dropzone object for the body.</p>
                            </div>
                        </div>
                    </div>
                   
                        <div class="col-lg-12">
                            <div class="dropzone-pro shadow-reset">
                                <div id="dropzone">
                                    

                                    
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- Multi Upload End-->
        </div>
    </div>

{% endblock content %}