{% load static %}


<body class="materialdesign">
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <!-- Header top area start-->

    <div class="wrapper-pro">
        <div class="left-sidebar-pro">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <a href="#"><img src="{% static 'userinterfacedesign/img/message/1.jpg ' %}" alt="" />
                    </a>
                    <h3>{{request.user.username}}</h3>
                    <p>{{request.user.groups}}</p>
                    <strong>AP+</strong>
                </div>
                <div class="left-custom-menu-adp-wrap">
                    <ul class="nav navbar-nav left-sidebar-menu-pro">
                        <li class="nav-item">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                                class="nav-link dropdown-toggle"><i class="fa big-icon fa-home"></i> <span
                                    class="mini-dn">Home</span> <span class="indicator-right-menu mini-dn"><i
                                        class="fa indicator-mn fa-angle-left"></i></span></a>
                            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                                <a href="#" class="dropdown-item">Dashboard </a>
                                <a href="" class="dropdown-item">Point of Sale</a>
                                <a href="" class="dropdown-item">Reports</a>

                            </div>
                        </li>
                    
                            <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                                    class="nav-link dropdown-toggle"><i class="fa big-icon fa-building"></i> <span
                                        class="mini-dn">Warehouse</span> <span class="indicator-right-menu mini-dn"><i
                                            class="fa indicator-mn fa-angle-left"></i></span></a>
                                <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                                    <a href="" class="dropdown-item">View
                                        Warehouse</a>
                                    <a href="" class="dropdown-item">View Pallets</a>
                                    <a href="" class="dropdown-item">Add
                                        Warehouse</a>
                                    <a href="" class="dropdown-item">Add Pallets</a>

                                    <a href="#" class="dropdown-item">Requisitions</a>
                                    <a href="#" class="dropdown-item">summary</a>
                                </div>
                            </li>
                            <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                                    class="nav-link dropdown-toggle"><i class="fa fa-shopping-bag"></i> <span
                                        class="mini-dn">Inventory</span> <span class="indicator-right-menu mini-dn"><i
                                            class="fa indicator-mn fa-angle-left"></i></span></a>
                                <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                                    <a href="" class="dropdown-item"> Categories</a>
                                    <a href="" class="dropdown-item">New
                                        Categories</a>
                                    <a href="" class="dropdown-item">View
                                        Inventorty</a>
                                    <a href="" class="dropdown-item">Add
                                        Inventorty</a>
                                    <a href="#" class="dropdown-item">Batch Report</a>

                        <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa big-icon fa-envelope"></i> <span class="mini-dn">Mailbox</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                                <a href="inbox.html" class="dropdown-item">Inbox</a>
                                <a href="view-mail.html" class="dropdown-item">View Mail</a>
                                <a href="compose-mail.html" class="dropdown-item">Compose Mail</a>
                            </div>
                        </li>
                         <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="big-icon glyphicon glyphicon-phone-alt"></i> <span class="mini-dn">Help Desk</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                                <a href="static-table.html" class="dropdown-item">Seek Clarification</a>
                                <a href="data-table.html" class="dropdown-item">Report bugs</a>
                                <a href="data-table.html" class="dropdown-item">Issue Recommendations</a>
                            </div>
                        </li>
                        <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="glyphicon glyphicon-cog"></i> <span class="mini-dn">Profile</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                                <a href="" class="dropdown-item">View Profile</a>
                                <a href="" class="dropdown-item">Update Profile</a>
                               
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
