{% extends 'userinterfacedesign/base.html' %}
{% load static %}
{% block content %}
{% load bootstrap4 %}

<div class="login-form-area mg-t-30 mg-b-15">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3"></div>

      <div class="col-lg-6">
        <div class="login-bg">

          <div class="row">
            <div class="col-lg-12">
              <div class="login-title">
                <h1 class='text-center'> New Category</h1>
              </div>
            </div>
          </div>
          <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}

            <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-lg-8">
                <div class="login-button-pro">
                  <button type="submit" class="login-button login-button-lg">Add</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
</div>

{% endblock content %}